<head>
  <title>Hedgeye</title>
</head>

<body>
  <div class="page-wrapper">
    <div class="reveal tweet-feed">
      {{> tweetFeed}}
    </div>
    <div class="mentions">
      {{> mentionFeed}}
    </div>
  </div>
</body>

<template name="tweetFeed">
  <div class="slides">
    {{> tweets list}}
  </div>
</template>

<template name="mentionFeed">
  <div class="slides">
    {{> tweets list}}
  </div>
</template>

<template name="tweets">
  {{#each this}}
    <section class="tweet">
      <h4>{{livestamp created_at}}</h4>
      <h1>{{text}}</h1>
      <h2>-{{user.name}}</h2>
      <h3>{{user.screen_name}}</h3>
    </section>
  {{/each}}
</template>
